*{
    user-select: none;
    transition: 0.04s;
}
body{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    overscroll-behavior-y: contain;

  }
  #leftspan{
    position: absolute;
    width: 20vw;
    top: 10.5vw;
    left: 8vw;
    margin-top:-7vw;
  }
  #rightspan{
    position: absolute;
    width: 42vw;
    right: 2vw;
    top: 10vw;
    margin-top:-7vw;
  }
  #container{
    display: block;
    width: 100vw;
    height: 45vw;
    background-color: white;
    position: relative;
    
  }
#left,#lefta,#leftb,#leftc,#leftd,#lefte,#leftf,#leftg{
    background-color: transparent;
    display: flex;
    width: fit-content;
    align-items: center;
    top: 16vw;
    left: 22vw;
    height:1.2vw;
    position: absolute;
    transform-origin: left;
    margin-top:-7vw;
}

#left1,#left1a,#left1b,#left1c,#left1d,#left1e,#left1f,#left1g{
    display:block;
    width:0.1vw;
    height:0.1vw;
    border-radius: 50%;
    background-color: rgb(242, 206, 159);
}
#left2,#left2a,#left2b,#left2c,#left2d,#left2e,#left2f,#left2g,#leftLine{
    display: block;
    width: 0vw;
    height: 0.5vw;
    background-color: #da8200;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    filter: drop-shadow(2px 4px 6px grey);
}
#left3,#left3a,#left3b,#left3c,#left3c,#left3d,#left3e,#left3f,#left3g{
    display:block;
    width:2vw;
    height:2vw;
    margin-left: -0.3vw;
    border-radius: 50%;
    background-image: url(./IMG/btnOrange.png);
    background-size: cover;
}

#right,#righta,#rightb,#rightc,#rightd,#righte,#rightf,#rightg,#righth{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 15vw;
    right: 44vw;
    width: 4vw;
    height:2vw;
    margin-top:-7vw;
}

#right1,#right1a,#right1b,#right1c,#right1d,#right1e,#right1f,#right1g,#right1h{
    display: block;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow:2px 4px 6px black;
}
#container{
    background-image: url(./IMG/3649732.jpg);
    background-size: 134vw;
    overflow:hidden;
}
.delete{
    width: 1.5vw;
}
.drop{
    padding-left: 0.1vw;
    background: #fefcfd;
    border-radius: 2vw;
}
#startScreen{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#startScreen button{
    border: 0;
    box-shadow: 0px 0px 20px lightgrey;
    height: 3vw;
    width: 12vw;
    }
#startScreen h2{
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    margin-bottom: 4vw;
}    
#demo{
    display: none;
    width: 70%;
    justify-content: space-between;
    margin-top: 5vw;
}
#fst, #sec{
    display: flex;
    align-items: center;
}
#demoLeft1{box-shadow: 2px 4px 10px;border-radius: 50%;}
#finger{
    width: 4vw;
    position: absolute;
    left: 25vw;
    filter: drop-shadow(2px 0px 6px black) invert(1);
    margin-top: 3vw;
    
}
#fst{
    transform-origin: left;
    position: absolute;
}
#sec{
    right: 18vw;
    position: absolute;
}
@keyframes move{
    20%{
        transform: translateX(1vw);
    }
    90%{
        transform: translateX(51vw);
    }
}
